.footernav-links{
    display: none;
    background-color: black;
    justify-content: space-evenly;
    padding: 2rem 0 2rem 0;
    font-family: sans-serif;
}

.footernav-link-section-header{
    color: #f3f3f3;
    margin-bottom: .5rem;
    font-size: .9rem;
}

.footernav-link-section-links{
    color: #6c757d;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: .85rem;
}

a{
    text-decoration: none;
    color: #6c757d;
}

.subscribe-btn{
    border: none;
    background-color: red;
    color: #f3f3f3;
    margin-top: .75rem;
    padding: .75rem 1.5rem .75rem 1.5rem;
    font-size: .75rem;
    font-weight: 600;
}

@media (min-width: 768px) {
    .footernav-links{
        display: flex;
    
    }
    
}