.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    background-color: black;
    color: black;
    position: relative;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    -webkit-tap-highlight-color: transparent;
}

.title{
    margin: 0   ;
    display: none;
}

.logo{
    width: 50px;
    height: 50px;
   
    
}


.header-hub{
    display: flex;
}

.hubIcon{
    width: 35px;
    height: 35px;
}

.cart{
    border: none;
    background-color: transparent;

}

.svg{
    filter: invert(88%) sepia(99%) saturate(71%) hue-rotate(228deg) brightness(118%) contrast(91%);
}


.dropdown-button{
    border: none;
    background-color: transparent;
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: black;
    width: 100vw;
    height: 0;
    box-shadow: 0px 12px 12px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: height .5s;
  }

.dropdown-content-link{
    display: flex;
    text-decoration: none;
    color: #f3f3f3;
    font-size: 0;   
    padding: 0 1rem 0 1rem;
    align-items: center;
    height: 0;
}

.dropdown-content-link:hover{
    background-color: rgb(192, 190, 190);
}

.visible-dropdown-content-link{
    font-family: sans-serif;
    font-size: 1rem;
    font-weight: 700;
    height: 2.5rem;
    transition: height .5s, font-size .5s;
}

.visible-dropdown-content{
    height: 10rem;
    transition: height .5s;
}


@media (min-width: 768px) {
    .header{
        padding-left: 2rem;
    }
    
    .header-linkHub{
        display: flex;
        color: red;
        align-items: center;
        font-family: sans-serif;
    }

    .header-linkHub-name{
        display: flex;
        
        align-items:center;
    }

    .header-linkHub-title{
        font-size: 1.5rem;
    }

    .header-links{
        display: flex;
        list-style: none;
        gap: 5rem;
       
    }

    .header-link{
        color: #f3f3f3;
        font-weight: 700;
        font-size: .9rem;
    }
}
